@model IEnumerable<Permit.Models.Application>
<table>
    <tr>
        <td>Park</td>
        <td>Start Date</td>
        <td>Entry Trail</td>
        <td>Exit Trail</td>
        <td>Status</td>
        <td>Group Size</td>
        <td>Night</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Park.Name</td>
            <td>@item.StartDate.Date.ToShortDateString()</td>
            <td>@item.EntryTrail.Name</td>
            <td>@item.ExitTrail.Name</td>
            <td>@item.Status</td>
            <td>@item.GroupSize</td>
            <td>@item.Nights.Count</td>
        </tr>
    }
</table>
